
<div class='login_link col-md-12 text-center' style="margin-top:20px;">
  <%= link_to edit_user_registration_path, class: "btn btn-default col-md-4" do %>
    <span class=""></span> 編集する
  <% end %>
</div>
